:root {

  --primary-indigo-purple: #6366f1;
  --secondary-indigo-purple: #8b5cf6;
  --primary-blue-ocean: #3b82f6;
  --secondary-blue-ocean: #06b6d4;
  --primary-emerald-green: #10b981;
  --secondary-emerald-green: #14b8a6;
  --primary-rose-pink: #f43f5e;
  --secondary-rose-pink: #ec4899;
  --primary-orange-sunset: #f97316;
  --secondary-orange-sunset: #fb923c;
  --primary-navy: #1e3a8a;
  --secondary-navy: #3730a3;
}


main {
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
}

.cv_preview_modal {
    display: none;
}

.cv_preview_modal.active {
    display: flex;
    justify-content: center; /* Centers the A4 page horizontally */
    align-items: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
}

.a4-page {
  background-color: #fff;
  box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08),
    0 20px 40px rgba(0, 0, 0, 0.06);
  margin: 2rem;
}

.preview_btn {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: max(20px, env(safe-area-inset-bottom));    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: blueviolet;
    border: none;
    color: #fff;
    z-index: 2000;
}
