
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.icon {
  display: flex;
  border-radius: .75rem;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  background-color: violet;
}

.icon svg {
  padding: .35em;
  width: 100%;
  height: 100%;
  color: #fff;
}

.logoText {
  text-align: left;
  line-height: 1.25rem;
}

.logoText p {
  color: violet;
  font-size: 1.35rem;
  font-weight: bold;
}

.logoText span {
  font-size: .85rem;
}

.navButtons {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
}

.navButtons li > button {
  display: flex;
  gap: .5rem;
  padding: .75em 1em;
  border-radius: .75rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fffafa;
}

.a4-page {
  background-color: #fff;
  box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08),
    0 20px 40px rgba(0, 0, 0, 0.06);
  margin: 2rem;
}

/*Cv header*/

header {
  background-color: rebeccapurple;
  display: flex;
  padding: 2rem;
  gap: 1.5rem;
}

address {
  font-style: normal;
}

.profileWrapper {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%; 
  border: .25rem solid #fff;
}

.profileWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contactList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
}

.contactList li{
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .9rem;
  color: #fff;
  font-weight: 500;
}

.contactList li a{
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.contactList li svg {
  width: 1em;
  height: 1em;
  stroke-width: 2px;
}

.cvBody {
  padding: 2rem;
}

.cvBody ul {
  list-style: none;
  padding-left: 0;
}

section h2 {
  color: purple;
  border-bottom: 2px solid purple;
  text-transform: uppercase;
  font-weight: bold;
  padding-block: .5rem;
  margin-block: .5rem;
}

.jobHeader, .studyHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.skillCategory {
  font-weight: bold;
}

.languagesList {
  display: flex;
  gap: .5rem;
}

.languagesList li {
  color: gray;
}

.languageName {
  color: black;
  font-weight: 600;
}
